@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@500&display=swap')

// TABLE OF CONTENTS
// 1 - Vars
// 2 - Global Styles
// 3 - Nav
// 3.1 - Mobile Nav 
// 4 - 
// 5 - Food Menu
// 6 - Location Card
// 7 - Contact Form
// 8 - Footer
/// END TABLE OF CONTENTS **/

// 1 Vars
$tablet: 764px
$desktop: 1024px
$assetPath :"./assets/"
$light-grey: #F2F0EF
$pink: #F2AECE
$maroon: #733244
$light-blue: #91BDD9
$black: #333
$white: #fff
$btn-transition: all 0.25s ease-in


// 2 Global Styles
*   
    margin: 0
    padding: 0
    box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6
    font-family: 'Comfortaa', cursive
    margin: 1.25rem 0

p,
span,
a,
button,
label,
li,
table,
td
    font-family: 'Open Sans', sans-serif
p:first-letter
    color: $pink
    font-size: 2.25rem
section
    display: flex
    flex-direction: column
    align-items: center
    overflow-x: hidden
@media ( min-width: $desktop)
    section
        display: block
li
    list-style: none
    padding: 1rem 0


// 3 Nav
.wrap
    width: 90vw
    margin: 0 auto

@media ( min-width: $desktop)
    .wrap
        width: 60vw
    .nav-clear
        margin: 115px auto 2rem auto
    
// 3.1 Mobile Nav
.mobile-nav
    width: 100%
    text-align: center
    box-shadow: 0 0 0.5rem #00000026
    position: fixed
    background: white
    > div
        padding: 0.5rem
        text-align: right
        min-height: 2.75rem
        margin-top: 0.75rem
.showX#hamburger
    border: none
.showX#hamburger::before,
.showX#hamburger::after
    top: -1px
.showX#hamburger::before
    transform: rotate(45deg)
    animation: 
        name: topBurger
        duration: 100ms
        timing-function: ease
        direction: forward
.showX#hamburger::after
    transform: rotate(-45deg)
    animation: 
        name: bottomBurger
        duration: 100ms
        timing-function: ease
        direction: forward
@keyframes topBurger
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(45deg)
@keyframes bottomBurger
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(-45deg)

#hamburger
    width: 40px
    border: 2px solid $black
    margin: 0.15rem
    position: relative
    border-radius: 4px
    float: right
    top: 5px
    &:hover
        cursor: pointer
#hamburger::before
    content: ''
    display: block
    border: 2px solid $black
    position: absolute
    width: 36px
    right: -2px
    top: 8px
    border-radius: 4px
#hamburger::after
    content: ''
    display: block
    border: 2px solid $black
    position: absolute
    width: 36px
    right: -2px
    top: -12px
    border-radius: 4px
#nav-menu a li
    background: lighten($light-grey, 20%)
#hamburger + ul a
    display: block
    background: $light-blue
    color: $white
    border-bottom: 1px solid $white
    transition: $btn-transition
    &:first-of-type
        border-top: none
    &:hover,
    &:active
        background: darken($light-blue, 10%)
.show-nav
    display: block
    li
        animation: 
            name: mobile-nav-open
            duration: 200ms
            timing-function: ease-out
            direction: forward

@keyframes mobile-nav-open 
    0%
        padding: 0
        opacity: 0
    100%
        padding: 1rem 0
        opacity: 1

.hide-nav
    display: none
.navScrollLoad
    width: 100px
    height: 100px   
.navScrollDown
    animation: scrollDown 0.25s linear forwards
@keyframes scrollDown
    0% 
        width: 100px
        height: 100px
    100%
        width: 50px
        height: 50px

.navScrollUp
    animation: scrollUp 0.25s linear forwards
@keyframes scrollUp
    0% 
        width: 50px
        height: 50px
    100%
        width: 100px
        height: 100px

// 5 Food Menu
#menu-toggle
    display: flex
    justify-content: center
    margin-top: 4rem
    li
        border-bottom: 3px solid transparent
        cursor: pointer
        font-size: 1.5rem
        padding: 1rem
        transition: $btn-transition

        &:hover,
        &:active
            border-color: $pink
    li:nth-child(2)
        margin: 0 2rem
#coffee-tbl,
#juice-tbl,
#donuts-tbl
    div
        display: flex
        align-items: center
        justify-content: center
        margin-top: 2rem
        img
            height: 50px
            margin-right: 1rem
            margin-left: -50px
        h2
            font-size: 3rem
            margin-bottom: 0
    > table
        border-radius: 8px
        box-shadow: 0px 0px 2px 0px lighten($black, 25%)
        margin: 1rem auto 3rem auto

.hide-menu
    display: none
.show-menu
    display: block
.active-menu
    color: $pink
    border-bottom: 3px solid darken($pink, 50%)


th
    text-align: left
    font-size: 1.15rem
    margin-top: 1rem
    padding: 0.5rem 0
    border-bottom: 1px solid darken($light-grey, 15%)
td
   line-height: 1.75
   padding: 0.5rem
td:nth-of-type(2)
    text-align: right
.m-1
    margin-top: 1.5rem
.vwidth
    margin: 1.5rem auto 
    width : min(90vw, 500px)

// 6 Location Card
.location-card
    display: flex
    justify-content: space-evenly
.location-map
    margin-right: 1rem
    width: 400px



// 7 Contact Form
input,
label,
textarea
    display: block
input,
textarea
    all: unset
    border: 2px solid $light-blue
    font-family: 'Open Sans', sans-serif

input
    padding: 0.5rem 0 0.5rem 0.5rem
    width: calc(100% - 0.75rem)
textarea
    padding: 0.5rem 0 0.5rem 0.5rem
    resize: none
    width: calc(100% - 0.75rem)

.email-signup-wrap
    display: flex
    justify-content: center
    margin: 0 auto
    width: min(90vw, 700px)
.email-signup
    padding: 4rem 0
    width: 100%
.email-signup.mobile
    > span
    .email-signup-wrap
        input
            text-align: left
.email-submit
    width: 100%
    background: $pink
    border: 1px solid $pink
    cursor: pointer
    font-size: 1rem
    padding: 1rem
    transition: $btn-transition
    &:hover
        background: darken($pink, 15%)
#email-signup
    padding: 0.5rem
    width: 60vw
    border-radius: 0px
    border: 1px solid $black
#email-signup:focus
    outline: 1px solid purple
#email-form
    flex-direction: column
#email-submit
    background: $black
    color: $white
    border: 1px solid $black
    padding: 1rem
#form-success
    margin: 4rem 0
    text-align: center
    display: none




// 8 Footer
footer
    text-align: center
    width: 100% 
    div
        ul
            li
                list-style: none
                padding: 1.5rem 0
ul a
    text-decoration: none

footer ul a
    color: #fff
.footer-link
    background: $black
    border-bottom: 1px solid $white
    color: $white
    display: block
    transition: $btn-transition
    &:hover,
    &:active
        background: lighten($black, 10%)
        color: darken($pink, 20%)
.mobile
    display: block
    text-align: center
.desktop
    display: none
@media ( min-width: $desktop)
    footer
            div
                ul
                    margin-bottom: 8rem
                    
                    li
                        padding: .5rem 0
    .mobile
        display: none
    .desktop
        display: block
        text-align: left
    #desktop-nav
        display: grid
        grid-template-columns: 10rem 1fr
        position: fixed
        width: 100vw
        background: #fff
        box-shadow: 0 0 0.5rem #00000026
        .desktop-logo
            background: blue
            border-radius: 50%
            margin: 0.5rem 0.5rem 0.5rem 1rem
        .desktop-links
            display: flex
            align-items: center
            justify-content: space-evenly
            width: 100%
    footer
        background: $black
        color: $white
        display: grid
        grid-template-columns: 20% 1fr 1fr 20%
        grid-template-rows: 1fr
        column-gap: 1rem
        div
            grid-column-start: 2
            grid-column-end: 3
            width: min(30vw,100%)
        .footer-link
            border: none
            display: block
            text-align: left
            &:active,
            &:hover
                background: $black

.social-icons
    background: $black
    border-bottom: 1px solid $white
    display: flex
    justify-content: space-evenly
    padding: 0.5rem 0
#facebook
    background-image: url('../assets/Facebook.svg')
    &:hover,
    &:active
        background-image: url('../assets/Facebook-hover.svg')
#instagram
    background-image: url('../assets/Instagram.svg')
    &:hover,
    &:active
        background-image: url('../assets/Instagram-hover.svg')
#tiktok
    background-image: url('../assets/TikTok.svg')
    &:hover,
    &:active
        background-image: url('../assets/TikTok-hover.svg')   
#facebook,
#instagram,
#tiktok
    background-position: center
    background-repeat: no-repeat
    border-radius: 50%
    cursor: pointer
    display: inline-block
    height: 50px 
    width: 50px   
@media ( min-width: $desktop)
    .social-icons
        border: none
        justify-content: flex-start  
    .email-signup-wrap
        justify-content: flex-start

#email-signup
    align-items: flex-start
    background: $white
    color: $black
    grid-column-start: 3
    grid-column-end: 4
    width: 15rem
    text-align: left
#email-submit
    background: $white
    color: $black
    cursor: pointer
#email-submit-desktop
    cursor: pointer
    padding: 1rem 0.25rem
    &:hover .btn-arrow
        width: 35px

.btn-arrow
    display: block
    width: 30px
    border-radius: 4px
    background: $black
    height: 3px
    position: relative
    transition: all 0.5s ease-in-out
    &::after,
    &::before
        content: ''
        display: block
        position: absolute
        width: 16px
        height: 3px
        border-radius: 4px
    &::after
        background: $black
        rotate: -45deg
        right: -2px
        bottom: -5px
    &::before
        background: $black
        rotate: 45deg
        right: -2px
        top: -5px
.btn-arrow-mobile
    @extend .btn-arrow
    width: 20px
    &::before,
    &::after
        width: 10px
    &::before
        top: -3px
    &::after
        bottom: -3px


// Misc
.hero
    background: tomato
    width: 100%
    height: 300px
    
.carousel-control
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

.mobile-carousel
  display: flex
  gap: 5px
  height: 320px
  overflow-x: auto
  width: 100vw
  -ms-scroll-snap-type: x mandatory
      scroll-snap-type: x mandatory
  scrollbar-width: none

.mobile-carousel::-webkit-scrollbar 
  display: none

.mobile-carousel div 
  display: flex
  flex: 0 0 320px
  justify-content: center
  scroll-snap-align: start
  border: 1px solid $black



.testimonial-section
    background: $light-grey
    margin-top: 2.5rem
    padding: 6rem 0 2rem 0
    position: relative
.testimonials
    background: $light-blue
    transform: rotate(-45deg)
    position: absolute
    left: -90px
    height: 130px
    display: flex
    align-items: flex-end
    text-align: center
    padding: 0 1rem
    top: -25px
    width: 250px
    h4
        text-align: center
        width: 100%