@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive;
  margin: 1.25rem 0;
}

p,
span,
a,
button,
label,
li,
table,
td {
  font-family: "Open Sans", sans-serif;
}

p:first-letter {
  color: #F2AECE;
  font-size: 2.25rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  section {
    display: block;
  }
}
li {
  list-style: none;
  padding: 1rem 0;
}

.wrap {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .wrap {
    width: 60vw;
  }
  .nav-clear {
    margin: 115px auto 2rem auto;
  }
}
.mobile-nav {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1490196078);
  position: fixed;
  background: white;
}
.mobile-nav > div {
  padding: 0.5rem;
  text-align: right;
  min-height: 2.75rem;
  margin-top: 0.75rem;
}

.showX#hamburger {
  border: none;
}

.showX#hamburger::before,
.showX#hamburger::after {
  top: -1px;
}

.showX#hamburger::before {
  transform: rotate(45deg);
  animation-name: topBurger;
  animation-duration: 100ms;
  animation-timing-function: ease;
  animation-direction: forward;
}

.showX#hamburger::after {
  transform: rotate(-45deg);
  animation-name: bottomBurger;
  animation-duration: 100ms;
  animation-timing-function: ease;
  animation-direction: forward;
}

@keyframes topBurger {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes bottomBurger {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
#hamburger {
  width: 40px;
  border: 2px solid #333;
  margin: 0.15rem;
  position: relative;
  border-radius: 4px;
  float: right;
  top: 5px;
}
#hamburger:hover {
  cursor: pointer;
}

#hamburger::before {
  content: "";
  display: block;
  border: 2px solid #333;
  position: absolute;
  width: 36px;
  right: -2px;
  top: 8px;
  border-radius: 4px;
}

#hamburger::after {
  content: "";
  display: block;
  border: 2px solid #333;
  position: absolute;
  width: 36px;
  right: -2px;
  top: -12px;
  border-radius: 4px;
}

#nav-menu a li {
  background: white;
}

#hamburger + ul a {
  display: block;
  background: #91BDD9;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.25s ease-in;
}
#hamburger + ul a:first-of-type {
  border-top: none;
}
#hamburger + ul a:hover, #hamburger + ul a:active {
  background: #6ba6cc;
}

.show-nav {
  display: block;
}
.show-nav li {
  animation-name: mobile-nav-open;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-direction: forward;
}

@keyframes mobile-nav-open {
  0% {
    padding: 0;
    opacity: 0;
  }
  100% {
    padding: 1rem 0;
    opacity: 1;
  }
}
.hide-nav {
  display: none;
}

.navScrollLoad {
  width: 100px;
  height: 100px;
}

.navScrollDown {
  animation: scrollDown 0.25s linear forwards;
}

@keyframes scrollDown {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
.navScrollUp {
  animation: scrollUp 0.25s linear forwards;
}

@keyframes scrollUp {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
#menu-toggle {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#menu-toggle li {
  border-bottom: 3px solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  transition: all 0.25s ease-in;
}
#menu-toggle li:hover, #menu-toggle li:active {
  border-color: #F2AECE;
}
#menu-toggle li:nth-child(2) {
  margin: 0 2rem;
}

#coffee-tbl div,
#juice-tbl div,
#donuts-tbl div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#coffee-tbl div img,
#juice-tbl div img,
#donuts-tbl div img {
  height: 50px;
  margin-right: 1rem;
  margin-left: -50px;
}
#coffee-tbl div h2,
#juice-tbl div h2,
#donuts-tbl div h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
#coffee-tbl > table,
#juice-tbl > table,
#donuts-tbl > table {
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px #737373;
  margin: 1rem auto 3rem auto;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: block;
}

.active-menu {
  color: #F2AECE;
  border-bottom: 3px solid #8b164d;
}

th {
  text-align: left;
  font-size: 1.15rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #d0c8c5;
}

td {
  line-height: 1.75;
  padding: 0.5rem;
}

td:nth-of-type(2) {
  text-align: right;
}

.m-1 {
  margin-top: 1.5rem;
}

.vwidth {
  margin: 1.5rem auto;
  width: min(90vw, 500px);
}

.location-card {
  display: flex;
  justify-content: space-evenly;
}

.location-map {
  margin-right: 1rem;
  width: 400px;
}

input,
label,
textarea {
  display: block;
}

input,
textarea {
  all: unset;
  border: 2px solid #91BDD9;
  font-family: "Open Sans", sans-serif;
}

input {
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: calc(100% - 0.75rem);
}

textarea {
  padding: 0.5rem 0 0.5rem 0.5rem;
  resize: none;
  width: calc(100% - 0.75rem);
}

.email-signup-wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: min(90vw, 700px);
}

.email-signup {
  padding: 4rem 0;
  width: 100%;
}

.email-signup.mobile .email-signup-wrap input {
  text-align: left;
}

.email-submit {
  width: 100%;
  background: #F2AECE;
  border: 1px solid #F2AECE;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  transition: all 0.25s ease-in;
}
.email-submit:hover {
  background: #e76ca6;
}

#email-signup {
  padding: 0.5rem;
  width: 60vw;
  border-radius: 0px;
  border: 1px solid #333;
}

#email-signup:focus {
  outline: 1px solid purple;
}

#email-form {
  flex-direction: column;
}

#email-submit {
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding: 1rem;
}

#form-success {
  margin: 4rem 0;
  text-align: center;
  display: none;
}

footer {
  text-align: center;
  width: 100%;
}
footer div ul li {
  list-style: none;
  padding: 1.5rem 0;
}

ul a {
  text-decoration: none;
}

footer ul a {
  color: #fff;
}

.footer-link {
  background: #333;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  transition: all 0.25s ease-in;
}
.footer-link:hover, .footer-link:active {
  background: #4d4d4d;
  color: #e45699;
}

.mobile {
  display: block;
  text-align: center;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  footer div ul {
    margin-bottom: 8rem;
  }
  footer div ul li {
    padding: 0.5rem 0;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    text-align: left;
  }
  #desktop-nav {
    display: grid;
    grid-template-columns: 10rem 1fr;
    position: fixed;
    width: 100vw;
    background: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1490196078);
  }
  #desktop-nav .desktop-logo {
    background: blue;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }
  #desktop-nav .desktop-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  footer {
    background: #333;
    color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }
  footer div {
    grid-column-start: 2;
    grid-column-end: 3;
    width: min(30vw, 100%);
  }
  footer .footer-link {
    border: none;
    display: block;
    text-align: left;
  }
  footer .footer-link:active, footer .footer-link:hover {
    background: #333;
  }
}
.social-icons {
  background: #333;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

#facebook {
  background-image: url("../assets/Facebook.svg");
}
#facebook:hover, #facebook:active {
  background-image: url("../assets/Facebook-hover.svg");
}

#instagram {
  background-image: url("../assets/Instagram.svg");
}
#instagram:hover, #instagram:active {
  background-image: url("../assets/Instagram-hover.svg");
}

#tiktok {
  background-image: url("../assets/TikTok.svg");
}
#tiktok:hover, #tiktok:active {
  background-image: url("../assets/TikTok-hover.svg");
}

#facebook,
#instagram,
#tiktok {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
}

@media (min-width: 1024px) {
  .social-icons {
    border: none;
    justify-content: flex-start;
  }
  .email-signup-wrap {
    justify-content: flex-start;
  }
}
#email-signup {
  align-items: flex-start;
  background: #fff;
  color: #333;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 15rem;
  text-align: left;
}

#email-submit {
  background: #fff;
  color: #333;
  cursor: pointer;
}

#email-submit-desktop {
  cursor: pointer;
  padding: 1rem 0.25rem;
}
#email-submit-desktop:hover .btn-arrow, #email-submit-desktop:hover .btn-arrow-mobile {
  width: 35px;
}

.btn-arrow, .btn-arrow-mobile {
  display: block;
  width: 30px;
  border-radius: 4px;
  background: #333;
  height: 3px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.btn-arrow::after, .btn-arrow-mobile::after, .btn-arrow::before, .btn-arrow-mobile::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 3px;
  border-radius: 4px;
}
.btn-arrow::after, .btn-arrow-mobile::after {
  background: #333;
  rotate: -45deg;
  right: -2px;
  bottom: -5px;
}
.btn-arrow::before, .btn-arrow-mobile::before {
  background: #333;
  rotate: 45deg;
  right: -2px;
  top: -5px;
}

.btn-arrow-mobile {
  width: 20px;
}
.btn-arrow-mobile::before, .btn-arrow-mobile::after {
  width: 10px;
}
.btn-arrow-mobile::before {
  top: -3px;
}
.btn-arrow-mobile::after {
  bottom: -3px;
}

.hero {
  background: tomato;
  width: 100%;
  height: 300px;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mobile-carousel {
  display: flex;
  gap: 5px;
  height: 320px;
  overflow-x: auto;
  width: 100vw;
  -ms-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type-scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.mobile-carousel::-webkit-scrollbar {
  display: none;
}

.mobile-carousel div {
  display: flex;
  flex: 0 0 320px;
  justify-content: center;
  scroll-snap-align: start;
  border: 1px solid #333;
}

.testimonial-section {
  background: #F2F0EF;
  margin-top: 2.5rem;
  padding: 6rem 0 2rem 0;
  position: relative;
}

.testimonials {
  background: #91BDD9;
  transform: rotate(-45deg);
  position: absolute;
  left: -90px;
  height: 130px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 0 1rem;
  top: -25px;
  width: 250px;
}
.testimonials h4 {
  text-align: center;
  width: 100%;
}
